.body {
    padding-top: 50px;
    background: #ccc;
}

.centered {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.loading-indicator {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    display: none;
    margin: auto 0 auto 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    font-family: sans-serif;
}

.button {
    background: #005f95;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 19px;
    font-weight: bolder;
    letter-spacing: 0.02em;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn:hover {
    background: #4499c9;
}

.btn:active {
    background: #49ADE5;
}

#file-drag {
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 1em 0;
    padding: 3em;
    text-align: center;
    transition: 0.2s linear;
}

#file-drag:hover {
    border-color: #000;
}

#file-progress {
    display: none;
    margin: 1em auto;
    width: 100%;
}

#file-upload-btn {
    margin: auto;
}

#file-upload-btn:hover {
    background: #4499c9;
}

#file-upload-form {
    margin: auto;
    width: 40%;
}

progress {
    appearance: none;
    background: #eee;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.connection-status {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.status-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-connected {
    background-color: greenyellow;
}

.status-disconnected {
    background-color: red;
}

.pulse {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}